.App {
  text-align: center;
  padding-bottom: 100px;
}

h1, h2, h3, h4 {
  padding-bottom: 10px;
}

form {
  margin: auto;
  padding: 30px;
  text-align: left;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.status {
  margin-top: 10px;
}

.list-group a {
  text-decoration: none;
  color: inherit;
}
.card a {
  text-decoration: none;
  color: inherit;
}