.browse {
    display: inline-block;
}

.browse-title {
    margin-right: 1rem;
}

.cat {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cat-btn {
width: 100%;
margin-bottom: 0.5rem;
}

.container {
    margin-bottom: 1rem;
}

.titl {
    text-align: left;
}

.card {
    margin-bottom: 2rem;
}

.row {
    padding-top: 1rem;
}

.product-cats h2 {
    text-align: left;
    font-size: 1.5rem;
}

.card-info {
    display: inline-block;
}

.card-price {
    display: inline-block;
    float: right;
    font-weight: normal;
    font-size: 1rem;
}

.card-title {
    margin-bottom: auto;
}

.card-img {
    max-width: auto;
    max-height: auto;
}

p {
    margin-bottom: auto;
}