.console{
    width: 100%;
    padding: 20px;
}

.console > .left {
    margin: 10px;
    width: 20%;
    position: absolute;
    left: 2%;
    padding-bottom: 20px;
}
.console > .right {
    margin: 10px;
    position: absolute;
    right: 3%;
    width: 70%;
    padding-bottom: 20px;
}