.console{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.console > .left {
    width: 20%;
    margin: 20px;
}
.console > .right {
    width: 70%;
    margin: 20px;
}

.manage-store-section {
    text-align: left;
    width: 90%;
    margin: auto;
}