.browse {
    display: inline-block;
}

.browse-title {
    margin-right: 1rem;
}

.cat {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.container {
    margin-bottom: 1rem;
}

.titl {
    text-align: left;
}

.card {
    margin-bottom: 2rem;
}

.row {
    padding-top: 1rem;
}

.results h2 {
    text-align: left;
    font-size: 1.5rem;
}