.feat-title {

    font-size: 2em;
    padding-bottom: 1EM;
}

.card {
    text-align: left;
}

.row {
    padding-bottom: 1em;
}

.container {
    margin-bottom: 2em;
}


.feat-head {
    display: inline;
    text-align: left;
}
.more {
    display:inline;
    font-size: 0.5rem;
}

.box {
    background-color: #aee1f9;
    border-radius: 15px;
    background-image: linear-gradient(0deg, #03d7be81 0%, #E8E6E6 80%);    
  }
